    {% extends 'base.html' %}
    {% load static %}
    {% block body %}

    <section id="home" class="section" data-label="Home">
        <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill="#404040" class="bi bi-cloud cloud"
                viewBox="0 0 16 16">
                <path
                    d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
            </svg>
            <div id="app"></div>
            <div id="explore">
                <a href="#about">
                    <label>Explore</label><br>
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
                        class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z" />
                    </svg>
                </a>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="section" data-label="About">
        <div class="container">
            <div class="heading">About Me</div>
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-item-header">Biography</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">Education</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-text">
                            <ul>
                                <li class="list-item-top" style="padding-bottom: 10px">
                                    University of Plymouth
                                </li>
                                <li class="list-item-bottom">
                                    BSc. (Hons) Computer & Information Security
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item-header">Work Experience</div>
                    <div class="accordion-item-body">
                        <div class="accordion-item-body-text">
                            <ul>
                                <li class="list-item-top">
                                    <span>
                                        Cloud Specialist
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                            class="icon bi bi-cloud" viewBox="0 0 16 16">
                                            <path
                                                d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                        </svg>
                                    </span>
                                </li>
                                <li class="list-item-bottom">
                                    Go Deploy Labs
                                </li>
                            </ul>
                            <ul>
                                <li class="list-item-top">
                                    <span>
                                        Account Manager
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                            class="icon bi bi-person" viewBox="0 0 16 16">
                                            <path
                                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                        </svg>
                                    </span>
                                </li>
                                <li class="list-item-bottom">
                                    Igloo Thermo Logistics
                                </li>
                            </ul>
                            <ul>
                                <li class="list-item-top">
                                    <span>
                                        Transport Planner
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                            class="icon bi bi-truck" viewBox="0 0 16 16">
                                            <path
                                                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </span>
                                </li>
                                <li class="list-item-bottom">
                                    Igloo Thermo Logistics
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="section" data-label="Skills">
        <div class="container">
            <h1 class="heading">Skills</h1>
            <div class="card-deck">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h1>Cloud Services</h1>
                        </div>
                        <div class="flip-card-back">
                            <!-- back-->
                            <p class="flip-card-text">
                                Content creator for AWS training labs at Go Deploy with knowledge of building highly
                                available and scalable architectures.
                                Experience with infrastructure as code (IaC) and configuration management tools including
                                <b>CloudFormation</b>, <b>Terraform</b>
                                and <b>Ansible</b>. Familiar with multiple cloud platforms including <b>Azure</b> and
                                <b>GCP</b>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h1>Networking</h1>
                        </div>
                        <div class="flip-card-back">
                            <!-- back-->
                            <p class="flip-card-text">
                                Cisco certified networking technician up to <b>CCNA</b> and <b>CCNP</b> practices.
                                Familiar with Routing, Switching & Firewalls including VLANs, Trunking, Routing protocols
                                (OSPF, BGP, RIP etc.), NAT, Access-lists and large-scale design.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h1>Programming</h1>
                        </div>
                        <div class="flip-card-back">
                            <!-- back-->
                            <p class="flip-card-text">
                                Experience with <b>Python</b>, <b>C#</b>, and <b>JavaScript</b>. Developed mulitple web-based applications using <b>HTML</b>,
                                <b>CSS</b> and the <b>Django Framework</b> including this website! Ability to plan, undertake and manage software development
                                projects using Agile, Scrum and Safe development frameworks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h1>Cyber Security</h1>
                        </div>
                        <div class="flip-card-back">
                            <!-- back-->
                            <p class="flip-card-text">
                                Knowledgeable in incident and response management, information security governance,
                                intrusion detection/prevention systems, ethical hacking and network security. Solid
                                understanding of cyber security principles including incident and response management,
                                information security governance and secure systems architectures.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Certifications Section -->
    <section id="certifications" class="section" data-label="Certifications">
        <div class="container">
            <h1 class="heading">Certifications</h1>
            <div class="card-deck">
                <div class="card">
                    <span>AWS Certified Cloud Practitioner</span>
                    <img class="cert-badge" src="../static/images/aws-practitioner.png" />
                    <div><a class=verify
                            href="https://www.credly.com/badges/5d68cc63-6319-4814-9f97-2a71bd588636/public_url"
                            target="0">Verify with Credly <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg></a></div>
                </div>
                <div class="card">
                    <span>AWS Certified Solution Architect - Associate</span>
                    <img class="cert-badge" src="../static/images/aws-architect.png" />
                    <div><a class=verify
                            href="https://www.credly.com/badges/f2e30cdf-7628-4204-ad12-ed1f45a628ca/public_url"
                            target="0">Verify with Credly <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg></a></div>
                </div>
                <div class="card">
                    <span>HashiCorp Certified: Terraform Associate</span>
                    <img class="cert-badge" src="../static/images/hashicorp.png" />
                    <div><a class=verify
                            href="https://www.credly.com/badges/66521682-3058-49b8-851c-aeef451ea3b7/public_url"
                            target="0">Verify with Credly <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg></a></div>
                </div>
                <div class="card">
                    <span>Microsoft Certified: Azure Fundamentals</span>
                    <img class="cert-badge" src="../static/images/azure.png" />
                    <div><a class=verify
                            href="https://www.credly.com/badges/08bcf20c-1bce-48e0-8cf2-1620e0068d57/public_url"
                            target="0">Verify with Credly <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg></a></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="section" data-label="Projects">
        <div class="container">
            <h1 class="heading">Projects</h1>
            <div>
                Some Stuff
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="section" data-label="Contact">
        <div class="container">
            <div class="col">
                <div class="heading">Contact</div>
            </div>
            <div class=col>
                <ul id=sites>
                    <li>
                        <a href="https://www.linkedin.com/in/jamesw-white/" target="0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="85" height="85" fill="currentColor"
                                class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                            </svg>
                            Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ClassicSmej" target="0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="85" height="85" fill="currentColor"
                                class="bi bi-github" viewBox="0 0 16 16">
                                <path
                                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                            </svg>
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script>
        $('.flip-card .flip-card-inner').click(function () {
            $(this).toggleClass("flip");
        });
    </script>

    <script src="{% static 'js/dotnav.js' %}" type="text/javascript" lang="javascript"></script>
    <script src="{% static 'js/typer.js' %}" type="text/javascript" lang="javascript"></script>
    <script src="{% static 'js/accordion.js' %}" type="text/javascript" lang="javascript"></script>

    {% endblock %}