/* -- Global -- */
html, main, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    counter-reset: section;
    font-family: "Lucida Console", Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sections */
section {
    height: 100%;
    overflow: hidden;
    color: #8892b0;
    background-color: #0a192f;
}

.section-text {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

section .heading {
    margin: 20px 0;
    font-family: Arial;
    font-size: 32px;
    color: #ccd6f6;
}

section .heading::before {
    counter-increment: section;
    content: "0" counter(section) ".";
    color: #64ffda;
    font-family: "Lucida Console";
    padding-right: 10px;
    font-size: 28px;
    font-weight: lighter;
}

/* Nav Bar Top */
.header {
    display: flex;
    justify-content: center;
    list-style-position: inside;
}

.nav-list {
    counter-reset: nav-item;
    padding: 40px;
    font-size: 14px;
}

.nav-list li::before {
    counter-increment: nav-item;
    content: "0" counter(nav-item) ".";
    padding: 10px;
    color: #64ffda;
}

.nav-list li {
    display: inline;
    margin: 0 10px;
    padding: 0 10px;
}

.nav-item {
    text-decoration: none;
    color: #ccd6f6;
    position: relative;
}

.nav-item:hover {
    color: #64ffda;
    transition: ease-in 200ms;
}

/* Home Section */
#home .section-text {
    height: 80%;
}

.intro {
    color: #8892b0;
    font-size: 50px;
    font-family: Arial;
    text-align: left;
}

.intro * {
    margin: 5px 0;
}

.intro h1 {
    margin: 5px;
    font-family: "Lucida Console";
    font-size: 18px;
    font-weight: lighter;
    color: #64ffda;
}

.intro h2 {
    color: #ccd6f6;
}

.intro p {
    margin: 20px 0 40px 0;
    font-size: 18px;
    max-width: 60%;
}

#git {
    text-decoration: none;
    color: #64ffda;
}

.btn-down {
    z-index: 1;
    position: relative;
    width: max-content;
    padding: 20px 50px;
    text-decoration: none;
    font-family: "Lucida Console";
    font-size: 16px;
    color: #64ffda;
    border: solid 1px #64ffda;
    border-radius: 4px;
    transition: ease-in 250ms;
}

.btn-down::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(100,255,218, 0.2);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.btn-down:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* -- About Page -- */
#about-text {
    width: 50%;
    font-size: 20px;
    font-family: Arial;
}

#introduction {
    font-size: 1.8vw;
    font-weight: bold;
}

.highlight {
    color: #64ffda;
}

/* --- Work Page --- */
table {
    border-collapse: collapse;
    font-size: 32px;
}

td {
    padding: 25px;
}

td svg {
    vertical-align: middle;
    padding-left: 2px;
    width: 32px;
    height: 32px;
}

.td-left {
    border-right: #8892b0 solid 2px;
    text-align: right;
    font-weight: bold;
    color: #64ffda;
}

.td-right {
    color: #ccd6f6;
    font-family: Arial;
}

.company {
    font-size: 3vh;
    color: #8892b0;
}

/* --- Skills Page --- */
.skills-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-item {
    margin-bottom: 4vh;
}

.skills {
    display: flex;
    flex-direction: row;
}

.skills-list h3 {
    color: #64ffda;
    font-family: "Lucida Console";
}

.skills-list {
    list-style: none;
    line-height: 40px;
    font-size: 20px;
    font-family: Arial;
}

.skills-list li::before {
    content: "\2022"; 
    color: #64ffda;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}

/* --- Certs Page --- */
.slideshow {
    position: relative;
    margin-right: 8vw;
}

.slide {
    display: none;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: center;
}

.slide img {
    width: 32vh;
    height: 32vh;
}

.fade {
    animation: fadeIn 1.2s;
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

.slide-contents {
    padding: 18px;
    height: 100%;
}

.prev, .next {
    opacity: 0.2;
    cursor: pointer;
    position: absolute;
    top: 45%;
    transition: 150ms ease-in;
}

.slideshow svg {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.next{ 
    right: 0;
}

.credly {
    text-align: center;
}

.credly a {
    text-decoration: none;
    font-size: 24px;
    color: #f2f2f2;
    position: relative;
    transition: 250ms ease-in;
}

.credly a:hover {
    opacity: 0.5;
}

.credly a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.credly a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* -- Contact Page -- */
#sites a {
    color: #8892b0;
    font-size: 75px;
    font-family: Arial;
    text-decoration: none;
    transition: 250ms ease-in;
}

#sites a:hover{
    color: #64ffda;
}

#sites li {
    text-align: left;
    list-style: none;
    padding-bottom: 18px;
}

#sites svg {
    padding: 0 0.5vw 2vh 0;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}