/* Custom Stylesheet */

/* Global */
html, main, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: Arial !important;
}

a:link {
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.icon {
    font-weight: bold;
    padding: 10px;
}

/* Navbar */
.nav {
    z-index: 1;
    padding: 3vh;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav-item {
    align-items: center;
    display: flex;
    margin-bottom: 2vh;
    flex-direction: row-reverse;
}

.nav-link:hover ~ .nav-label {
    opacity: 1;
}

.nav-label {
    font-size: 20px;
    font-weight: bold;
    color: white;
    opacity: 0;
    transition: 0.15s ease-in;
}

.nav-link {
    background: #666666;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    transition: 0.15s ease-in;
    margin-left: 15px;
}

.nav-link-selected {
    background: white;
    transform: scale(1.2);
}

.nav-link:hover {
    background: white;
    transform: scale(1.2);
}

/* Full Width/Height Container */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Section */
.section {
    display: block;
    background-image: url("../images/map.png");
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Section Headings */
.heading {
    top: 0;
    position: absolute;
    width: 50%;
    margin: 10vh;
    font-size: 72px;
    font-weight: bold;
    color: #666666;
    text-align: center;
}

/* Home Section */
.cloud {
    position: fixed;
    pointer-events: none;
}

/* TypeWriter */
#app {
    color: white;
    font-size: 120px;
    font-weight: 600;
    cursor: text;
    position: fixed;
    pointer-events: none;
}

.Typewriter__cursor {
    margin-left: 1px;
    animation: Typewriter-cursor 1s infinite;
}

/* I HATE THIS!! */
#writer1 {
    color: #d7e61a;
}

#writer2 {
    color: #ec7211;
}

#writer3 {
    color: #99C6E5;
}

#writer4 {
    color: #de0a2a;
}

#writer5 {
    color: #9CE6AF;
}

/* Explore Button */
#explore {
    color: #666666;
    position: fixed;
    padding: 4vh;
    bottom: 0;
    text-align: center;
    font-size: 24px;
}

#explore label{
    opacity: 0.0;
    color: #666666;
    font-weight: bold;
    transition: 0.30s ease-in;
}

#explore a {
    color: #666666;
    transition: 0.30s ease-in;
}

#explore a:hover {
    color: #FFFFFF;
}

#explore a:hover label {
    opacity: 1.0;
    color: #FFFFFF;
}

/* About Section */
#about .container {
    flex-direction: row;
}

#about .heading {
    position: relative;
    margin: 20vh;
    font-size: 100px;
    text-align: left;
}

.accordion {
    color: white;
    width: 85%;
    margin-right: 20vh;
}

.accordion-item {
    border-top: solid 2px #FFFFFF;
}

.accordion-item-header {
    padding: 3vh;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    cursor: pointer;
    transition: 0.20s ease-in;
}

.accordion-item-header:hover  {
    color: #666666;
}

.accordion-item-header.active {
    color: #666666;
}

.accordion-item-body {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}

.accordion-item-body-text {
    padding: 0 3vh 3vh 3vh;
    font-size: 22px;
}

#about ul {
    padding-bottom: 15px;
}

.list-item-top {
    font-size: 24px;
    font-weight: bold;
}

.list-item-top span {
    display: inline-flex;
    
}

.list-item-bottom {
    color: #666666;
}

/* Skills Section */
.card-deck {
    display: flex;
    flex-direction: row;
    max-width: 90%;
}

.flip-card {
    width: 350px;
    height: 350px;
    perspective: 1000px;
    padding: 2vh;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card .flip-card-inner.flip {
    transform: rotateY(180deg);
}

.flip-card-inner.flip .flip-card-front {
    visibility: hidden;
    transition: 0.30s ease-in;
}

.flip-card-front, .flip-card-back {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 0.20s ease-in;
    color: white;
}

.flip-card-front {
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

.flip-card-front:hover {
    color: #666666;
    font-weight: bold;
    border-top: solid 2px #666666;
    border-bottom: solid 2px #666666;
}

.flip-card-back {
    transform: rotateY(180deg);
    border-top: solid 2px #666666;
    border-bottom: solid 2px #666666;
    font-size: 20px;
}

.flip-card-text {
    width: 90%;
}

/* Certifications */
.card {
    background-color: #FFF;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 2vh;
    margin: 2vh;
    text-align: center;
    transition: transform 250ms;
}

.card:hover {
    transform: translateY(-10px);
}

.card span {
    font-size: 20px;
    font-weight: bold;
    padding: 1vh;
    text-align: center;
}

.cert-badge {
    padding: 2vh;
}

.verify {
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    padding: 1vh;
    border-radius: 5px;
    background-color: #005850;
    transition: 0.10s ease-in;
}

.verify:visited {
    color: #FFF;
}

.verify:hover {
    color: #666666;
    background-color: #004d46;
}

.verify svg {
    padding: 0 0 2px 2px;
    vertical-align: middle;
}

#expired {
    font-weight: bold;
    font-size: 16px;
    color: #de0a2a;
}

/* Projects */


/* Contact */
#contact .container {
    flex-direction: row;
}

#contact .heading {
    position: relative;
    margin: 30vh;
    font-size: 100px;
    text-align: center;
}

.col {
    width: 50%;
    text-align: center;
    margin: 5vh;
}

#sites a {
    color: #FFF;
    font-weight: bold;
    font-size: 80px;
    transition: 0.20s ease-in;
}

#sites a:hover {
    color: #666666;
}

#sites li {
    text-align: left;
    padding-bottom: 4vh;
}

#sites svg {
    padding: 0 10px 2vh 0;
    vertical-align: middle;
}