/* Index Stylesheet */

/* -- Global -- */
html, main, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sections */
section {
    height: 100%;
    overflow: hidden;
}

#home, #work, #certs {
    background-color: #f3b70a;
}

#about, #skills, #contact {
    background-color: #f2f2f2;
}

.section-text {
    height: 80%;
    overflow: hidden;
}

.section-heading {
    font-size: 4vw;
    font-weight: bold;
    cursor: text;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 100%;
    align-items: center;
}

.grid-item-left {
    text-align: left;
    padding-left: 15vw;
}

.grid-item-right {
    text-align: right;
    padding-right: 15vw;
}

/* Bottom Text */
.bottom-text {
    font-size: 2.2vw;
    text-align: right;
    padding: 8vh 10vh 8vh 0;
    overflow: hidden;
}

.bg-yellow {
    background-color: #f3b70a;
}

.bg-white {
    background-color: #f2f2f2;
}

/* Buttons */
.btn-down {
    color: black;
    justify-items: center;
    text-decoration: none;
    border: solid 2px black;
    padding: 2vh 2.8vh 2vh 2.8vh;
    margin: 1vw;
    position: relative;
    z-index: 1;
    transition: 250ms ease-in;
}

.btn-down svg {
    padding: 0;
    margin: 0;
    width: 3.5vh;
    height: 3.5vh;
}

.btn-down::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 250ms ease-in;
}

.btn-down:hover::after {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-down:hover {
    color: white;
}

#contact .btn-down::after {
    transform-origin: top;
}

#contact .btn-down:hover::after {
    transform-origin: bottom;
}

/* -- Home Page -- */
/* TypeWriter */
#app {
    font-size: 4.5vw;
    font-weight: 600;
    pointer-events: none;
}

.Typewriter__cursor {
    animation: Typewriter-cursor 1s infinite;
}

/* Nav List */
.nav-list {
    list-style-type: none;
    font-size: 4.5vh;
}

.nav-item {
    text-decoration: none;
    color: black;
    position: relative;
    cursor: pointer;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* -- About Page -- */
#about-text {
    font-size: 1.5vw;
    padding: 4vh 8vh 4vh 8vh;
    border-bottom: #f3b70a solid 0.5vh;
    border-top: #f3b70a solid 0.5vh;
}

#introduction {
    font-size: 1.8vw;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* --- Work Page --- */
table {
    border-collapse: collapse;
    font-size: 3.5vh;
}

td {
    padding: 3vh;
}

td svg {
    vertical-align: middle;
    padding-left: 0.1vw;
    width: 3.5vh;
    height: 3.5vh;
}

.td-left {
    border-right: #f2f2f2 solid 0.2vw;
    text-align: right;
    font-weight: bold;
}

.company {
    font-size: 3vh;
    color: #4d4d4d;
}

/* --- Skills Page --- */
.skills-container {
    margin-right: 2vh;
}

.skills-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-item {
    margin-top: 4vh;
}

.skills {
    display: flex;
    flex-direction: row;
}

.skills-list {
    list-style: none;
    line-height: 4vh;
    font-size: 2.5vh;
}

.skills-list li::before {
    content: "\2022"; 
    color: #f3b70a;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}

/* --- Certs Page --- */
.slideshow {
    position: relative;
    margin-right: 8vw;
}

.slide {
    display: none;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: center;
}

.slide img {
    width: 32vh;
    height: 32vh;
}

.fade {
    animation: fadeIn 1.2s;
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

.slide-contents {
    padding: 2vh;
    height: 100%;
}

.prev, .next {
    opacity: 0.2;
    cursor: pointer;
    position: absolute;
    top: 45%;
    transition: 150ms ease-in;
}

.slideshow svg {
    width: 5vh;
    height: 5vh;
    padding: 0;
    margin: 0;
}

.next{ 
    right: 0;
}

.credly {
    text-align: center;
}

.credly a {
    text-decoration: none;
    font-size: 2.5vh;
    color: #f2f2f2;
    position: relative;
    transition: 250ms ease-in;
}

.credly a:hover {
    opacity: 0.5;
}

.credly a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.credly a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* -- Contact Page -- */
#sites a {
    color: black;
    font-size: 8vh;
    text-decoration: none;
    transition: 250ms ease-in;
}

#sites a:hover{
    color: #f3b70a;
}

#sites li {
    text-align: left;
    list-style: none;
    padding-bottom: 2vh;
}

#sites svg {
    padding: 0 0.5vw 2vh 0;
    vertical-align: middle;
    width: 10vh;
    height: 10vh;
}

.endorsement {
    float: left;
    margin: 1vw;
    padding-left: 2.8vh;
    font-size: 2.5vh;
}

.endorsement svg {
    padding: 0;
    margin: 0;
    width: 3vh;
    height: 3vh;
    vertical-align: middle;
}