/* Custom Stylesheet */

/* -- Global -- */
html, main, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial !important;
    /* overflow: hidden; */
}

/* Sections */
section {
    height: 100%;
}

#home, #work, #contact {
    background-color: #f3b70a;
}

#about, #skills {
    background-color: #f2f2f2;
}

.section-text {
    height: 75%;
    overflow:hidden;
}

.section-heading {
    font-size: 4vw;
    font-weight: bold;
    cursor: text;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 100%;
    align-items: center;
}

.grid-item-left {
    text-align: left;
    padding-left: 15vw;
}

.grid-item-right {
    text-align: right;
    padding-right: 15vw;
}

/* Bottom Text */
.bottom-text {
    font-size: 2.5vw;
    text-align: right;
    padding: 10vh;
    overflow: hidden;
}

.bg-yellow {
    background-color: #f3b70a;
}

.bg-white {
    background-color: #f2f2f2;
}

/* Buttons */
.btn-down {
    color: black;
    justify-items: center;
    text-decoration: none;
    border: solid 2px black;
    padding: 2vh 2.8vh 2vh 2.8vh;
    margin: 1vw;
    position: relative;
    z-index: 1;
    transition: 250ms ease-in;
}

.btn-down svg {
    padding: 0;
    margin: 0;
    width: 3.5vh;
    height: 3.5vh;
}

.btn-down::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 250ms ease-in;
}

.btn-down:hover::after {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-down:hover {
    color: white;
}

#contact .btn-down::after {
    transform-origin: top;
}

#contact .btn-down:hover::after {
    transform-origin: bottom;
}

/* -- Home Page -- */
/* TypeWriter */
#app {
    font-size: 4.5vw;
    font-weight: 600;
    pointer-events: none;
}

.Typewriter__cursor {
    animation: Typewriter-cursor 1s infinite;
}

/* Nav List */
.nav-list {
    list-style-type: none;
    font-size: 4.5vh;
}

.nav-item {
    text-decoration: none;
    color: black;
    position: relative;
    cursor: pointer;
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.35vh;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* -- About Page -- */
#about-text {
    font-size: 1.5vw;
    padding: 4vh 8vh 4vh 8vh;
    border-bottom: #f3b70a solid 0.5vh;
    border-top: #f3b70a solid 0.5vh;
}

#introduction {
    font-size: 1.8vw;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* --- Work Page --- */
table {
    border-collapse: collapse;
    font-size: 3.5vh;
}

td {
    padding: 3vh;
}

td svg {
    vertical-align: middle;
    padding-left: 0.1vw;
    width: 3.5vh;
    height: 3.5vh;
}

.td-left {
    border-right: #f2f2f2 solid 0.2vw;
    text-align: right;
    font-weight: bold;
}

.company {
    font-size: 3vh;
    color: #4d4d4d;
}

/* -- Contact Page -- */
#sites a {
    color: black;
    font-size: 8vh;
    text-decoration: none;
    transition: 250ms ease-in;
}

#sites a:hover{
    color: #f2f2f2;
}

#sites li {
    text-align: left;
    list-style: none;
    padding-bottom: 2vh;
}

#sites svg {
    padding: 0 0.5vw 2vh 0;
    vertical-align: middle;
    width: 10vh;
    height: 10vh;
}